*, html {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

:root {
  /* Font Setup */
  font-family: Inter, sans-serif;
  
  /* font-feature-settings: 'ss05' 1; */

  /* Ease Var */
  --ease-time: .1s;
  /* Colorblind Accessible Colors (CAC) */
 
  /* Dynamic Colors */
  --dc1: #FFFFFF;
  --dc2: #000000; 
  /* --dc1: #359955;  */
  /* --dc2: #513653; */
  /* --dc3: #555a5e; */
}

body {
  height: 200vh;
  background-color: var(--dc2);
  display: flex; flex-direction: column; align-items: center;
  gap: 10rem; flex-shrink: 0; flex-grow: 1;
}

main {
  display: grid; place-items: center;
  min-height: 100vh; height: 100vh;
  transition: var(--ease-time) ease;
}

#main-text {
  font-size: 17.5vw;
  font-weight: 900;
  color: var(--dc1);
  transition: var(--ease-time) ease;
}

nav {
  position: fixed;
  left: 0; top: 0; box-sizing: border-box;
  padding: 1rem 1.5rem;
  height: 100%; width: 5rem;
  display: flex; flex-direction: column;
  align-items: center; justify-content: space-between;
  position: fixed;
}

#nav-top, #nav-bottom {
  display: flex; flex-direction: column;
  align-items: center;
  
}

.nav-button {transform: translateX(-300%);}

nav button {
  background-color: var(--dc2);
  width: 2.5rem; height: 2.5rem;
  border: 2px solid var(--dc1); border-radius: 50%;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  color: var(--dc1);
  transition: var(--ease-time) ease;
  font-size: 1.25rem; font-weight: 200;
  line-height: 2.25rem;
  z-index: 10; position: relative;
  margin-bottom: .75rem;
}

nav button:hover {
  color: var(--dc2);
  background-color: var(--dc1);
  /* transform: translateY(.15rem); */
}

nav button svg {
  fill: var(--dc1);
  height: 60%;
  transition: var(--ease-time) ease;
  user-select: none;
}

nav button:hover svg {
  fill: var(--dc2);
}

nav button label {
  position: absolute; left: 100%;
  color: var(--dc2);
  overflow: hidden;
  transition: background-color var(--ease-time ) ease, left .5s ease, opacity .5s ease, width 0s;
  border-radius: 2.5rem;
  font-family: 'Inter'; font-weight: 600; font-size: .8rem;
  padding: 0 .5rem;
  opacity: 0;
  white-space: nowrap; 
  pointer-events: none;
}

nav button:hover label {
  left: 125%;
  background-color: var(--dc1);
  opacity: 1;
  transition: background-color var(--ease-time ) ease, left .5s ease, opacity .5s ease, width 0s .5s;
}

#nav-color-dropdown {
  /* max-height: 0; */
  /* background-color: var(--dc2); */
  width: 2.5rem;
  z-index: 2;
  display: flex;
  justify-content: center; 
  transition: border var(--ease-time) ease, background-color var(--ease-time) ease, opacity .5s ease, max-height .5s ease, transform var(--ease-time) ease;
  /* margin-bottom: .75rem; */
}

#active-color-container {
  border: 2px solid var(--dc1);
  height: 100%;
  width: 100%;
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  overflow: hidden;
  border-radius: 2.5rem;
  transition: border var(--ease-time) ease;
  width: 100%; 
  /* background: linear-gradient(to left, var(--dc1) 50%, var(--dc2) 50%); */
   box-sizing: border-box;
  transition: background var(--ease-time) ease;
}

.active-color { 
  border-radius: 50%;
  width: 1.5rem; height: 1.5rem;
  cursor: pointer;
  appearance: none;
  overflow: hidden;
  transition: background-color var(--ease-time) ease, border var(--ease-time) ease;
}

.active-color-bg {
  width: 100%;
  height: 100%;
  display: grid; place-items: center; 
  padding: .3rem 0;
  box-sizing: border-box;
  transition: background-color var(--ease-time) ease, border var(--ease-time) ease,
  width .5s ease, height .5s ease;
}

.active-color-bg span {
  display: none;
  position: relative;
  /* bottom: -1rem; */
  transform: translateY(200%);
  font-weight: 900;
}

#nav-color-dropdown-expand {
  position: absolute;
  /* right: -2.25rem; */
  font-family: Inter;
  font-size: .75rem; font-weight: 700; line-height: 1.75rem;
  width: 1.75rem; height: 1.75rem; border: none;
}

input[type="color" i] {border: none;}
input[type="color" i]::-webkit-color-swatch {border: none; opacity: 0;}
::-webkit-color-swatch,::-moz-color-swatch {border: none;}

#ac1 {background-color: var(--dc1); border: 1px solid var(--dc2);}
#ac2 {background-color: var(--dc2); border: 1px solid var(--dc1);}
.active-color-bg:nth-child(1) {background-color: var(--dc2); color: var(--dc1)}
.active-color-bg:nth-child(2) {background-color: var(--dc1); color: var(--dc2);}

#toggle-nav {
  background-color: transparent;
  width: 2.5rem; height: 2.5rem;
  border: none; border-radius: 50%;
  border: 2px solid var(--dc1);
  display: flex; flex-direction: column;
  align-items: center; justify-content: flex-end;
  overflow: hidden;
  color: var(--dc1);
  transition: background-color var(--ease-time) ease, border var(--ease-time) ease;
}

#toggle-nav span {
  height: 2.5rem;
  font-size: 1.5rem; font-weight: 300;
  line-height: 2.25rem;
  transition: color var(--ease-time) ease;
}

#toggle-nav:hover {
  color: var(--dc2);
  background-color: var(--dc1);
}

#tooltip-bar {
  position: fixed; bottom: 2rem;
  display: flex; align-items: flex-end;
  gap: 3rem; right: 1rem;
}

.tt-item {
  /* transform: translateY(300%); */
  transition: all .1s ease;
}

#tb-spacebar {
  border: .12rem solid var(--dc1); border-radius: .2rem;
  background-color: var(--dc2);
  color: var(--dc1); font-weight: 500; font-size: .9rem;
  width: 20rem; height: 3rem;
  display: flex; align-items: center; justify-content: center;
}

#tb-arrow-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .3rem;
}

.tb-arrow-key {
  height: 3rem; width: 3rem;
  border: .12rem solid var(--dc1); border-radius: .2rem;
  display: flex; align-items: center; justify-content: center;
  color: var(--dc1); background-color: var(--dc2);
} .tb-empty-key {visibility: hidden;}


#settings-dialog {
  min-width: 10rem; min-height: 2rem;
  background-color: transparent; border: 2px solid var(--dc2);
  place-self: center; border-radius: 2rem;
  padding: 4rem 1rem 1rem 1rem;
  /* display: flex; flex-direction: column; */
  overflow: visible; 
  outline: none;
  backdrop-filter: blur(3rem);
}

#sd-exit-button {
  position: absolute; right: 1rem; top: 1rem;
  border: 2px solid var(--dc2); border-radius: 50%;
  width: 2rem; height: 2rem; 
  display: flex; align-items: center; justify-content: center;
  background-color: transparent; color: var(--dc2);
  transition: var(--ease-time) ease;
}

#sd-exit-button:hover {background-color: var(--dc2); color: var(--dc1);}

#settings-dialog::backdrop {
  backdrop-filter: blur(1.5rem) invert(.3);
}

#sd-container {
  display: flex; flex-direction: column;
  color: var(--dc2); gap: .5rem;
}

#sd-container label {
  max-width: 10rem;
  width: 100%; gap: 1rem;
  display: flex; justify-content: space-between;
  font-weight: 600;
  font-variant: tnum;
}

#sd-slider-value {
  font-size: 2rem;
}


#sd-slider {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}


#sd-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent; border: 2px solid var(--dc2);
  width: 1rem; height: 1rem; margin: .125rem 0 0 .125rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .25s ease;
}

#sd-slider:hover::-webkit-slider-thumb {
  background-color: var(--dc1);
}

#sd-slider::-ms-track {
  background: var(--dc2);
  border-color: transparent;
  color: transparent;
}

#sd-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5rem;
  background-color: transparent; border: 2px solid var(--dc2);
  border-radius: .75rem;
  cursor: pointer;
  padding-right: .25rem;
}

#slider-note {
  width: 1rem; height: 1rem; border-radius: 50%;
  /* background-color: var(--dc1); color: var(--dc2); */
  font-size: .75rem;
  display: flex; justify-content: center; align-items: center;
  align-self: flex-end;
  position: relative;
}

#slider-note svg {fill: var(--dc2); transition: .25s ease;}
#slider-note:hover svg {fill: var(--dc1);}


#slider-note span {
  position: absolute; left: 3rem; width: 20rem;
  display: flex; flex-direction: column; gap: .5rem;
  border: 2px solid var(--dc1); padding: 1rem; border-radius: 1.5rem;
  background-color: var(--dc2); color: var(--dc1);
  opacity: 0; transform: translateX(-50%) scale(0);
  transition: .5s ease; font-weight: 600;
}

#slider-note span a {color: var(--dc1);}
#slider-note span li {margin-left: 1rem;}

#slider-note:hover span {
  opacity: 1; transform: translateX(0) scale(1);
}

#mobile-touch-area {
  width: 100%; height: 100%;
  display: flex; align-items: center; justify-content: center;
  background-color: transparent;
}

hr {
  width: 30%;
  border: 1px solid var(--dc1);
}

section {
  width: 85%;
  display: flex; flex-direction: column; align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

section p {
  font-size: 1.5rem; font-weight: 500;
  width: 100%;
  line-height: 1.75rem;
  color: var(--dc1);
  text-align: left;
}

section .p-long {
  width: 100%;
}

#s1 {
  display: flex; flex-direction: row;
}

#s1-text-dec {
  height: 100%; display: flex; align-items: center; justify-content: center;
  background-color: var(--dc1); color: var(--dc2);
  writing-mode: vertical-lr; 
  font-weight: 900;
  font-size: 10vw;
  max-height: 200rem;
  border-radius: 2rem;
  padding: 0 2rem;
}

#s1-text {
  display: flex; flex-direction: column;
  width: 100%; gap: 3rem;
}

.img-container {
  width: 100%;  
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  /* filter: url(#achromatopsia);  */
}

.img-container-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(180deg,#00000000 0%, #00000000 50%, #000000CC 100%);
  opacity: 0;
  transition: .5s ease;
  display: flex; align-items: flex-end; justify-content: end;
  gap: .5rem; padding: 1rem;
}

.img-container:hover .img-container-overlay, .img-container-overlay:hover {
  opacity: 1;
}

.img-container-overlay button, .img-container-overlay a {
  min-width: 2rem;
  height: 2rem; 
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1rem;
  box-sizing: border-box;
  color: white; 
  display: flex; align-items: center; justify-content: center;
  padding: 0rem .5rem;
  transition: .25s ease;
  text-decoration: none;
}

.img-container-overlay button:hover, .img-container-overlay a:hover {
  color: black; background-color: white;
}

#img-l1 {
  height: 30rem;
  background: url(src/imgs/Landscape1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#img-f1 {
  height: 30rem;
  background: url(src/imgs/Fruit1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#img-l2 {
  height: 30rem;
  background: url(src/imgs/Landscape2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


#img-m1 {
  width: 90%;
  aspect-ratio: 785 / 494;
  background: url(src/imgs/ColorblindMap.png), white;
  background-repeat: no-repeat;
  background-position: 50% 50%; background-size: 95% 95%;
  
}

#mobile-cover {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: var(--dc2);
  display: flex; place-items: center; justify-content: center;
  font-size: 3rem; text-align: center;
  color: var(--dc1);
  padding: 4rem;
  display: none;
}

@media (max-width: 1000px) {
  #s1-text-dec {display: none;}
}

@media (max-width: 600px) {
  section {width: 60%;}
  section p {font-size: .9rem;}
  .img-container-overlay {flex-direction: column;}
}

@media (max-width: 400px) {
  #main-text {writing-mode: vertical-lr; text-orientation: upright; letter-spacing: -.5rem;}
}

/* &#x39E; */ 

/* &equiv; */